@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Somatotype Page</h1>
</div>

<form method="post">
    <input type="number" name="skinfold_suprailliac">
    <input type="number" name="skinfold_calf">
    <input type="submit">
</form>
