@page
@model Bakery.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<section id="main">
    <h1>A little bit about Nada's Bakery'</h1>
    <p>
        Nada's Bakery was founded in 2018 and delivers coffee and fresh baked goods right to your door.
        In another life, Nada was a gardener by day and pastry chef by night.
        But soon Nada's innate skills with all things involving butter, flour and sugar put him
        even more in demand than his programming talents and what started out as a way to satisfy
        his own sweet tooth became all-consuming.  Nada's Bakery is not only a candy-coated wonderland
        of coffee, pastries, cookies and cakes, it also honors his tech background by employing a state
        of the art online ordering system that makes it easy for anybody with internet access to
        order his all natural, locally-sourced confections and have them delivered to their
        door within 24 hours.
    </p>
</section>